body{
  background-image: url('aesthetic.png');\
 background-size: cover;
}
.banner{
  background-color: #e1dcd2;
  text-align: center;
  border: 5px solid brown;
}
.me{
  background-color: #d0ba98;
  border: 5px solid brown;
 float: left;
  width: 70px;
  height: 70px;
  position: relative;
  display: block;
}
